<div class="header">
    <h3>Task</h3>
    <a [className]='setHideMenu()' class="nav-link active" [routerLink]="['/taskForm', projectId]" routerLinkActive="active"><i class="fas fa-calendar-check"></i>Create new task</a>
</div>  
<div>
    <h3>{{ project.title }}</h3>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" (click)="getUpcomingTask()">Upcoming</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" (click)="getDoneTask()">Done</a>
      </li>
    </ul>

    <table class="table table-hover">
        <thead>
          <tr  class="table-secondary">
            <th scope="col">Task</th>
            <th scope="col">Status</th>
            <th scope="col">Due date</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks" [className]='applyColor(task.status)' >
            <td>{{ task.taskName }}</td>
            <td *ngIf="!clientView">                
              <select class="custom-select" (change)="changeTaskStatus(task.idTask, $event)">
                <option *ngFor="let ts of taskStatus" [value]="ts.idTaskStatus" [selected]='ts.idTaskStatus == task.status'>{{ ts.status }}</option>
              </select>
            </td>
            <td *ngIf="clientView">
              {{ getStatusForClient(task.status-1) }}
            </td>
            <td>{{ dueDateCounter(task.dueDate) }}</td>
            <td [className]='setHideMenu()'><a [routerLink]="['/taskDetail', task.idTask]" class="card-link">More Info</a></td>
          </tr>
        </tbody>
    </table>
    
</div>


