.DS_STORE

/dist/
/tmp/

/bazel-out
app/**/*.js
app/**/*.js.map

/integration/bazel/bazel-*

*.log

node_modules
/node_modules
bower_components/
/out-tsc


# Include when developing application packages.
pubspec.lock
.c9
.idea/
.devcontainer/*
!.devcontainer/README.md
!.devcontainer/recommended-devcontainer.json
!.devcontainer/recommended-Dockerfile
.settings/
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.vscode/extensions.json

*.swo
modules/.settings
modules/.vscode
.vimrc
.nvimrc

# misc
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
testem.log
typings/

# e2e
e2e/*.js
e2e/*.map

# Don't check in secret files
*secret.js

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# build-analytics
.build-analytics

# rollup-test output
/modules/rollup-test/dist/

# User specific bazel settings
.bazelrc.user
.notes.md
baseline.json


keys.ts