<div>
    <div class="jumbotron bg-white p-0">
        <h1 class="display-4 text-center">User Information</h1>

        <div *ngIf="loggedInUser.avatar == null" class="d-flex justify-content-center">
            <img [src]="'/assets/img/noimage.png'" style="max-width:100%;">
        </div>
        <div *ngIf="loggedInUser.avatar != null" class="d-flex justify-content-center">
            <img id='ava' style="width:40vh">
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary btn-lg" (click)="clickModificar(ava)" role="button">Change Avatar</a>
            <a class="btn btn-primary btn-lg" (click)="logout($event)" role="button">Log out</a>
        </div>
        <div *ngIf="ava.modify" class="d-flex justify-content-center">
            <app-avatar [ava]="ava" (accionCancelar)="accionCancelar(ava)" (accionEnviar)="accionEnviar($event)"></app-avatar>
        </div>
        <hr class="my-4">

        <div class="card-body text-center text-dark mb-3">
            <h3 class="card-title h3 my-4"><strong>{{ loggedInUser.firstName }} {{ loggedInUser.lastName }}</strong></h3>
            <table class="table table-borderless text-dark">
                <tbody>
                  <tr>
                    <td>Username :</td>
                    <td>{{ loginDetail.username }}</td>
                  </tr>
                  <tr>
                    <td>Email :</td>
                    <td>{{ loginDetail.email }}</td>
                  </tr>
                  <tr>
                    <td>Date of birth :</td>
                    <td>{{ loggedInUser.birthDate | date: 'yyyy-MM-dd' }}</td>
                  </tr>
                  <tr>
                      <td>Phone number :</td>
                      <td>{{ loggedInUser.phone }}</td>
                  </tr>
                  <tr>
                    <td>Joined date :</td>
                    <td>{{ loggedInUser.joinedDate }}</td>
                </tr>
                <tr>
                    <td>ID :</td>
                    <td>{{ loggedInUser.idType }} {{ loggedInUser.id }}</td>
                </tr>
                <tr>
                    <td>Role :</td>
                    <td >
                        {{ roles[loggedInUser.role-1].role }}
                    </td>
                </tr>
                <tr>
                    <td>Status :</td>
                    <td>
                        {{ status[loggedInUser.status-1].status }}                   
                    </td>
                </tr>
                <tr><td colspan="2"><hr></td></tr>
                <tr><td colspan="2">Office</td></tr>
                <tr>
                    <td>Name</td>
                    <td>{{ office.name }}</td>
                </tr>
                <tr>
                    <td>NIF</td>
                    <td>{{ office.nif }}</td>
                </tr>
                <tr>
                    <td>Phone number</td>
                    <td>{{ office.phone }}</td>
                </tr>
                </tbody>
              </table>
            <a (click)="changePass()" ><button type="button" class="btn btn-dark" >Change Password</button></a>
            <a routerLink="/registration" routerLinkActive="active"><button type="button" class="btn btn-dark" >Edit</button></a>
            <a routerLink="/office" ><button type="button" class="btn btn-dark" >Add Office</button></a>
        </div>
    </div>
    
    
</div>
