<div>
    <div class="jumbotron bg-white p-0">
        <h1 class="display-4 text-center">Contact Information</h1>
        <img [src]="contactDetail.avatar == null ? '/assets/img/noimage.png' : contactDetail.avatar" style="max-width:100%;">
        <hr class="my-4">

        <div class="card-body text-center text-dark mb-3">
            <h3 class="card-title h3 my-4"><strong>{{ contactDetail.firstName }} {{ contactDetail.lastName }}</strong></h3>
            <table class="table table-borderless text-dark">
                <tbody>
                  <tr>
                    <td>Email :</td>
                    <td><a href="mailto:{{email.email}}">{{ email.email }}</a></td>
                  </tr>
                  <tr>
                    <td>Date of birth :</td>
                    <td>{{ contactDetail.birthDate | date: 'yyyy-MM-dd' }}</td>
                  </tr>
                  <tr>
                      <td>Phone number :</td>
                      <td>{{ contactDetail.phone }}</td>
                  </tr>
                  <tr>
                    <td>Joined date :</td>
                    <td>{{ contactDetail.joinedDate }}</td>
                </tr>
                <tr>
                    <td>ID :</td>
                    <td>{{ contactDetail.idType }} {{ contactDetail.id }}</td>
                </tr>
                <tr>
                    <td>Role :</td>
                    <td *ngFor="let r of roles; let i = index">
                        <div *ngIf="r.idUserRole == contactDetail.role">
                            {{ r.role }}
                        </div> 
                    </td>
                </tr>
                <tr>
                    <td>Status :</td>
                    <td *ngFor="let s of status; let i = index">
                        <div *ngIf="s.idUserStatus == contactDetail.status">
                            {{ s.status }}
                        </div>                    
                    </td>
                </tr>
                </tbody>
              </table>
        </div>
    </div>
    
    
</div>