<div>
    <div class="jumbotron bg-white p-0">
        <h1 class="display-4 text-center">Contact Information</h1>
        <div *ngIf="contactDetail.avatar == null" class="d-flex justify-content-center">
            <img [src]="'/assets/img/noimage.png'" style="max-width:100%;">
        </div>
        <div *ngIf="contactDetail.avatar != null" class="d-flex justify-content-center">
            <img id='ava' style="width:40vh">
        </div>
        
        <hr class="my-4">

        <div class="card-body text-center text-dark mb-3">
            <h3 class="card-title h3 my-4"><strong>{{ contactDetail.firstName }} {{ contactDetail.lastName }}</strong></h3>
            <table class="table table-borderless text-dark">
                <tbody>
                  <tr>
                    <td>Email :</td>
                    <td>{{email.email}}</td>
                  </tr>
                  <tr>
                    <td>Date of birth :</td>
                    <td>{{ contactDetail.birthDate | date: 'yyyy-MM-dd' }}</td>
                  </tr>
                  <tr>
                      <td>Phone number :</td>
                      <td>{{ contactDetail.phone }}</td>
                  </tr>
                  <tr>
                    <td>Joined date :</td>
                    <td>{{ contactDetail.joinedDate }}</td>
                </tr>
                <tr>
                    <td>ID :</td>
                    <td>{{ contactDetail.idType }} {{ contactDetail.id }}</td>
                </tr>
                <tr>
                    <td>Role :</td>
                    <td>{{ roles[contactDetail.role-1].role }}</td>
                </tr>
                <tr>
                    <td>Status :</td>
                    <td>{{ status[contactDetail.status-1].status}}</td>
                </tr>
                </tbody>
              </table>
        </div>
    </div>
    
    
</div>