     
<div class="card-body">
    <h2>Reset password</h2>
    <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Password</label>
            <input [class.is-invalid]="password.invalid && password.touched"
            formControlName="password" type="password" class="form-control">
            <div *ngIf="password.invalid && password.touched">
              <small *ngIf="password.errors?.required" class="text-danger">Password is required</small>
              <small *ngIf="password.errors?.pattern" class="text-danger">Password must contain at least 8 character with one uppercase, one lowercase and one number.</small>
            </div>
          </div>
      
          <div class="form-group">
            <label>Confirm Password</label>
            <input [class.is-invalid]="(confirmPassword.invalid && confirmPassword.touched) ||  resetPassForm.errors?.misMatch" 
              formControlName="confirmPassword" type="password" class="form-control">
            <small class="text-danger" [class.d-none]="confirmPassword.valid || confirmPassword.untouched">Password is required</small>
            <small class="text-danger" *ngIf="resetPassForm.errors?.misMatch">Passwords do not match</small>
          </div>
        <button class="btn btn-primary" [disabled]="!resetPassForm.valid" type="submit">Submit</button>
    </form> 
</div>

