<div>
    <h2>Apply promotion</h2>
    <a class="nav-link active" routerLink="/promotionForm" routerLinkActive="active"><i class="fas fa-calendar-check"></i>Add new promotion</a>
    <form [formGroup]="promotionForm" action="">
        <div class="form-group">
            <label>Choose promotion to apply to {{project.title}}</label>
            <select class="custom-select" (change)="changePromo($event)" formControlName="promotion" [(ngModel)]="promo.name">
              <option value="" disabled>Choose one</option>
              <option *ngFor="let p of promotions" [value]="p.idPromotion">{{ p.name }} - {{ p.description }}</option>
            </select>
          </div>


        <button class="btn btn-success btn-block" [disabled]="!promotionForm.valid" (click)='onSubmit()'>Confirm</button>
    
    </form>
</div>