<div>
    <div class="jumbotron bg-white p-0">
        <h1 class="display-4 text-center">Appointment detail</h1>
        <div class="card-body text-center text-dark mb-3">
            <h3 class="card-title h3 my-4"><strong>{{ appointment.date | date: 'HH:mm dd-MM-yyyy' }}</strong></h3>
            <table class="table table-borderless text-dark">
                <tbody>
                    <tr>
                        <td>Description :</td>
                        <td>{{ appointment.description }}</td>
                    </tr>
                </tbody>
              </table>
            <a routerLink="/appointmentForm" routerLinkActive="active"><button type="button" class="btn btn-dark" ><i class="fas fa-pencil-alt"></i>Edit</button></a>
            <a (click)="delete($event)" ><button type="button" class="btn btn-dark" >Delete</button></a>
           
        </div>
    </div>
    
    
</div>