     
<div class="card-body">
    <div id="logo"><img src='assets/img/logo.png'><span id="logotxt">ROOTLETS</span></div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <button class="btn btn-primary" [disabled]="!loginForm.valid" type="submit">Login</button>
    </form> 
</div>
<div *ngIf="loginFailed" class="card-body">
    <p class="text-danger">Woops!! There is wrong username or password!</p>
            
    <button class="btn btn-danger">Forgot your password?</button>
</div>

