<div class="header">
    <h3>Clients</h3>
    <a class="nav-link active" routerLink="/clientForm" routerLinkActive="active"><i class="fas fa-user-plus"></i>Add new client</a>
</div>    
<div *ngFor="let c of clients">
    <div class="card bg-secondary m-2">
        <div class="card-body list">
            <h4 class="card-title">{{ c.companyName }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">Industry: {{c.industry}}</h6>
            <a [routerLink]="['/clientDetail', c.idClient]"class="card-link">Info</a>
            <a [routerLink]="['/project', c.idClient]"class="card-link">Current project</a>
            <a [routerLink]="['/contact/client', c.idClient]"class="card-link">Contact</a>
        </div>
      </div>
</div>