<div class="header">
    <h3>Team</h3>
    <a class="nav-link active" [routerLink]="['/teamForm', projectId]" routerLinkActive="active"><i class="fas fa-calendar-check"></i>Add new team member</a>
</div>  
<div >
    <h3>{{ project.title }}</h3>
    <table class="table table-hover">
        <thead>
          <tr class="table-secondary">
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Info</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-secondary" *ngFor="let m of members; index as i ">
            <td *ngIf="m.idUser == teamLeader.teamLeaderId"><i class="fas fa-medal"></i></td>
              <td *ngIf="m.idUser != teamLeader.teamLeaderId"></td>
            <td>{{ m.firstName }} {{ m.lastName }}</td>
            <td><a href="mailto:{{emails[i].email}}">{{emails[i].email}}</a></td>
            <td>
                  {{ status[m.status-1].status }}
              </td>  
            <td><a [routerLink]="['/contactDetail', m.idUser]" class="card-link">More Info</a></td>
          </tr>
        </tbody>
    </table>
    
</div>

