<div class="card-body">
    <div id="logo"><img src='assets/img/logo.png'><span id="logotxt">ROOTLETS</span></div>
    <form [formGroup]="recoveringForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Enter your email address to receive instruction to reset your password</label>
            <input type="text" class="form-control" formControlName="email">
        </div>
        <button class="btn btn-primary" [disabled]="!recoveringForm.valid" type="submit">SEND</button>
    </form> 
    <br>
    <a class="nav-link active" routerLink="/login" routerLinkActive="active"><i class="fas fa-hand-point-left"></i>Back</a>
</div>
<div *ngIf="recoveringFailed" class="card-body">
    <p class="text-danger">Woops!! Make sure you have entered registered email address</p>
</div>