<div class="header">
    <h3>Projects</h3>
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#">Current</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">On hold</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Done</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Cancelled</a>
          </li>
    </ul>
    <a class="nav-link active" routerLink="/projectForm" routerLinkActive="active"><i class="fas fa-calendar-check"></i>Add new project</a>
</div>    
<div *ngFor="let pro of projects">
    <div class="card bg-secondary m-2">
        <div class="card-body list">
            <h4 class="card-title">{{ pro.title }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">Due date: {{ pro.dueDate }}</h6>
            <a [routerLink]="['/projectDetail', pro.idProject]"class="card-link"><i class="fas fa-info-circle"></i>Info</a>
            <a [routerLink]="['/team', pro.idProject]"class="card-link"><i class="fas fa-users"></i>Team</a>
            <a [routerLink]="['/task', pro.idProject]"class="card-link"><i class="fas fa-tasks"></i>Tasks</a>
            <a [routerLink]="['/promotion', pro.idProject]"class="card-link"><i class="fas fa-tag"></i>Promotion</a>
            <a [routerLink]="['/invoice', pro.idProject]"class="card-link"><i class="fas fa-file-invoice-dollar"></i>Invoice</a>
        </div>
      </div>
</div>