<div>
    <h2>Create new project</h2>
    <form [formGroup]="projectForm" action="">
        <div class="form-group">
            <label>Title</label>
            <input [class.is-invalid]="title.invalid && title.touched" 
            formControlName="title" type="text" class="form-control">
            <div *ngIf="title.invalid && title.touched">
                <small *ngIf="title.errors?.required" class="text-danger">Title is required</small>
                <small *ngIf="title.errors?.minlength" class="text-danger">Title must be 3 caracter</small>
            </div>
        </div>

        <div class="form-group">
            <label>Description</label>
            <input formControlName="description" type="text" class="form-control"
            [class.is-invalid]="description.invalid && description.touched">
            <small class="text-danger" [class.d-none]="description.valid || description.untouched">Description is required</small>
        </div>

        <div class="form-group">
            <label>Due date</label>
            <input formControlName="dueDate" type="date" class="form-control"
                [class.is-invalid]="dueDate.invalid && dueDate.touched">
            <small class="text-danger" [class.d-none]="dueDate.valid || dueDate.untouched">Due date is required</small>
        </div>

        <div class="form-group">
            <label>Budget</label>
            <input [class.is-invalid]="budget.invalid && budget.touched"
            formControlName="budget" type="number" class="form-control">
            <small class="text-danger" [class.d-none]="budget.valid || budget.untouched">Budget is required</small>
        </div>

        <div class="form-group">
            <label>Status</label>
            <select class="custom-select" (change)="changeProjectStatus($event)" formControlName="status">
              <option value="" disabled>Choose status</option>
              <option *ngFor="let st of projectStatus" [value]="st.idProjectStatus">{{ st.status }}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Client</label>
            <select class="custom-select" (change)="changeClient($event)" formControlName="clientId">
              <option value="" disabled>Choose client</option>
              <option *ngFor="let cl of client" [value]="cl.idClient">{{ cl.companyName }}</option>
            </select>
          </div>

        <button class="btn btn-success btn-block" [disabled]="!projectForm.valid" (click)='edit ? updateProject() : onSubmit()'>Register</button>
    
    
    </form>
</div>